body {
	background-color:#DDDDDD;
}

#container {
	background-color: #C7C7C7;
	width:60em;
	margin: 4em auto;
	border-radius: 10px;
}

.header {
	text-align:center;
	padding: 1em 2em;
	margin: 0 auto;
	width:40em;
}

.sub-title{
	font-weight:normal;
}

.main {
	width:45em;
	padding: 2em 2em 4em;
	margin: 0 auto;
}

.list-add{
	width:40em;
	text-align: center;
	font-weight:bold;
	margin: 0 auto;
}

.full-list {
	list-style:none;
	-webkit-padding-start:0px;
}

.item {

	border-radius: 1em;
	height:1.6em;
	padding:.2em .5em;
	margin: .2em 0;
}

.item-open{
	background-color:#848484;
}

.item-completed {
	background-color:#4C4C4C;
}

/*classes are for items in the list */

.item-name,
.item-qty {
	float:left;
	margin: .28em .5em;
	font-weight:bold;
}

.item-name {
	width:26em;
}

.item-qty {
	width:8em;
}

/* ID's are for input fields */

#item-name {
	width:15em;
}

#item-qty {
	width:8em;
}

.list button {
	float: right;
	border:none;
	border-radius: 1.1em;
	height:1.6em;
	width: 1.6em;
	margin: 0 .2em;
	text-align: center;
}

#submit-button {
	border:none;
	border-radius:.8em;
	background-color: #848484;
	width:5em;
	height:1.4em;
	font-weight:normal;
}

#item-qty,
#item-name {
	border:none;
	border-radius:.8em;
	margin: 0;
	text-align:center;
}

.delete {
	background-color:#F44242;
}

.crossed-out {
	position:relative;
	left:-75px;
	top: -15px;
	width:550px;
	border-color:#000000;
	z-index:10;
}

.inactive{
	display:none;
}